# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.sublime-project
*.so
.DS_Store
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
env
**/*.pyc
**/__pycache__
media
.DS_Store
#*.sqlite3 demo db
*.env

# Accept these files in the repository
!.gitignore
!.travis.yml
/.env
/.vscode
/.idea
