[submodule "mn-ecommerce"]
	path = mn-ecommerce
	url = https://github.com/pection/mn-ecommerce
[submodule "Lenquality-MachineLearning"]
	path = Lenquality-MachineLearning
	url = https://github.com/pection/Lenquality-MachineLearning
[submodule "XY-Plotter"]
	path = XY-Plotter
	url = https://github.com/pection/XY-Plotter
[submodule "Lanedetection_matlab_Amas2016-2017"]
	path = Lanedetection_matlab_Amas2016-2017
	url = https://github.com/pection/Lanedetection_matlab_Amas2016-2017
[submodule "MatlabinRobotic"]
	path = MatlabinRobotic
	url = https://github.com/pection/MatlabinRobotic
[submodule "MNfurniture"]
	path = MNfurniture
	url = https://github.com/pection/MNfurniture
[submodule "MachineLearning-Practice"]
	path = MachineLearning-Practice
	url = https://github.com/pection/MachineLearning-Practice
[submodule "ParameterEstimation_matlab"]
	path = ParameterEstimation_matlab
	url = https://github.com/pection/ParameterEstimation_matlab
[submodule "Scraper-website"]
	path = Scraper-website
	url = https://github.com/pection/Scraper-website
[submodule "Humanoid"]
	path = Humanoid
	url = https://github.com/pection/Humanoid
[submodule "Interactionstudent"]
	path = Interactionstudent
	url = https://github.com/pection/Interactionstudent
[submodule "createresume"]
	path = createresume
	url = https://github.com/pection/createresume
[submodule "Image_recogition"]
	path = Image_recogition
	url = https://github.com/pection/Image_recogition
[submodule "Allproject"]
	path = Allproject
	url = https://github.com/pection/Allproject
[submodule "ImageProcessingDigitSegment"]
	path = ImageProcessingDigitSegment
	url = https://github.com/pection/ImageProcessingDigitSegment
